.dinners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10rem;
  margin-left: 7%;
  margin-right: 7%;
}

@media only screen and (max-width: 688px) {
  .dinners {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
  .dinners {
    grid-template-columns: repeat(2, 1fr);
  }
}
