.banner {
  position: relative;
  background-image: url(../../../images/banner-bg.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
}

.search-bar {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  height: 5vh;
}
